<!DOCTYPE HTML>
<html>
<head>
<title>Admin</title>
<style> input{ margin: 5px;}</style>
</head>
<body style="background-color: rgb(2, 2, 24);">
<form action="/addingItem" method="POST" enctype="multipart/form-data" style="background-color:rgb(171, 176, 201); width:500px ;height: 600px; padding: 100px;font-size: 400;">
	<center><h1>Add Items</h1></center>
	Imagep: <input type="file" name="imagep" style="padding: 10px;border-radius: 30px; width: 350px;"><br>
	Imagem: <input type="file" name="imagem" style="padding: 10px;border-radius: 30px; width: 350px;"><br>
	</select><br>
	<input type="submit" style="padding: 10px; background-color: rgb(91, 98, 109); border-radius: 20px;" >
</form>
</body>
</html>

